<header class="navbar navbarfixed-top navbar-inverse">
    <div class="container">
      <%= link_to "sample app", '#', id: "logo" %>
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to t('global.nav.home'), root_path %></li>
          <li><%= link_to t('global.nav.help'), help_path %></li>
          <li><%= link_to t('global.nav.help'), '#' %></li>
        </ul>
      </nav>
    </div>
</header>